#       $NetBSD: crontab,v 1.13 1997/10/26 13:36:31 lukem Exp $
#
# /etc/crontab - root's crontab
#
SHELL=/bin/sh
PATH=/bin:/sbin:/usr/bin:/usr/sbin
HOME=/var/log

#min	hour	mday	month	wday	user	command

*	*	*	*	*	root	chmod g-w /
# Disabled by default, since it causes disk access every 10 minutes,
# which is useless unless you use at(1).  Enable as needed.
#*/10	*	*	*	*	root	/usr/libexec/atrun

# do daily/weekly/monthly maintenance
15	3	*	*	*	root	sh /etc/daily	2>&1 | tee /var/log/daily.out	| mail -s "`hostname` daily output"   root
30	4	*	*	6	root	sh /etc/weekly	2>&1 | tee /var/log/weekly.out	| mail -s "`hostname` weekly output"  root
30	5	1	*	*	root	sh /etc/monthly 2>&1 | tee /var/log/monthly.out | mail -s "`hostname` monthly output" root

# local additions
7	1	*	*	*	root	rsync -aH --delete --password-file=/var/opendarwin/secrets/rsync_secret --exclude=CVSROOT/config --exclude=CVSROOT/passwd rsync://bbraun@anoncvs.opensource.apple.com/cvs /cvs/Apple/.
1	2	*	*	*	root	/usr/local/bin/cvs-web-push
1	3	*	*	*	root	/etc/backup-lamancha-daily
5	3	*	*	6	root	/etc/backup-lamancha-weekly
10	3	1	*	*	root	/etc/backup-lamancha-monthly
